<mat-grid-list cols="3" rowHeight="500px">
<div  *ngFor="let item of data;index as i" >
  <mat-grid-tile>
<mat-card class="example-card" style="min-height: 450px;">
  <mat-card-header>
   
    <mat-card-title>{{item.name}}</mat-card-title>
    <mat-card-subtitle>Grocery Item</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]= "item.productImage" style="max-height: 300px;">
  
  <mat-card-actions>
    <button mat-button (click)="onPlus(item)">
      <mat-icon>add_circle</mat-icon>
      ADD</button>{{item.value}}
    <button mat-button (click)="onMinus(item)">
      <mat-icon>remove_circle</mat-icon>
      REMOVE</button>
  </mat-card-actions>
</mat-card>
</mat-grid-tile>
</div>
</mat-grid-list> 
